<form id="orderableForm" ng-submit="vm.saveOrderable()">
    <label for="productCode">{{'adminOrderableEdit.productCode' | message}}</label>
    <input id="productCode" type="text" ng-model="vm.orderable.productCode" required />
    <label for="fullProductName">{{'adminOrderableEdit.name' | message}}</label>
    <input id="fullProductName" type="text" ng-model="vm.orderable.fullProductName" />
    <label for="description">{{'adminOrderableEdit.description' | message}}</label>
    <input id="description" type="text" ng-model="vm.orderable.description" />
    <!-- SELV3-13: Added net volume and storage temperature properties to Orderables -->
    <label for="minStorageTemp">{{'adminOrderableEdit.extraData.minStorageTemp' | message}}</label>
    <input id="minStorageTemp" type="number" ng-model="vm.orderable.extraData.minStorageTemp" 
    ng-change="vm.storageTempChanged()"/>
    <label for="maxStorageTemp">{{'adminOrderableEdit.extraData.maxStorageTemp' | message}}</label>
    <input id="maxStorageTemp" type="number" ng-model="vm.orderable.extraData.maxStorageTemp" 
    openlmis-invalid="{{vm.orderable.extraData.storageTempInvalid | message}}"
    ng-change="vm.storageTempChanged()"/>
    <label for="netVolume">{{'adminOrderableEdit.extraData.netVolume' | message}}</label>
    <input positive-integer id="netVolume" type="text" ng-model="vm.orderable.extraData.netVolume"
    openlmis-invalid="{{vm.orderable.extraData.netVolumeInvalid | message}}"
    ng-change="vm.netVolumeChanged()"/>
    <!-- SELV3-13: ends here -->
    <h3>{{'adminOrderableEdit.packSizeInformation' | message}}</h3>
    <label for="dispensingUnit">{{'adminOrderableEdit.dispensingUnit' | message}}</label>
    <input id="dispensingUnit" type="text" ng-model="vm.orderable.dispensable.dispensingUnit" />
    <p class="note">
        {{ 'adminOrderableEdit.dispensingUnit.info' | message}}
    </p>
    <label for="netContent">{{'adminOrderableEdit.netContent' | message}}</label>
    <input positive-integer id="netContent" type="text" ng-model="vm.orderable.netContent" required />
    <label for="packRoundingThreshold">{{'adminOrderableEdit.packRoundingThreshold' | message}}</label>
    <input positive-integer id="packRoundingThreshold" type="text" ng-model="vm.orderable.packRoundingThreshold" required />
    <fieldset class="form-group">
        <label>
            <input type="checkbox" ng-model="vm.orderable.roundToZero" />
            {{'adminOrderableEdit.roundToZero' | message}}
        </label>
    </fieldset>
</form>