.information-panel-wrapper {
    margin-top: 1rem;
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-direction: row;

    .header-section {
        font-size: $font-size-large;
    }

    .no-items-message {
        margin-left: 0;
    }

    .left-panel {
        min-width: 668px;

        .header-section {
            font-size: $font-size-large;

            &:nth-child(3) {
                margin-top: 3rem;
            }
        }

        .stock-items-table {
            border: #bebebe 1px solid;

            thead {
                display: block;
                tr {
                    th {
                        width: 325px;
                        background-color: #f0f0f0 !important;
                        color: #58585a;
                        background-image: none !important;

                        &:nth-child(2) {
                            width: 150px;
                        }
                        &:nth-child(3) {
                            width: 150px;
                        }
                    }
                }
            }

            tbody {
                overflow-y: scroll;
                max-height: 369px;
                display: block;
                tr {
                    td {
                        width: 325px;
                        &:nth-child(2) {
                            width: 150px;
                        }
                        &:nth-child(3) {
                            width: 150px;
                        }
                    }
                }
            }
        }

        .cce-items-table {
            border: #bebebe 1px solid;

            thead {
                display: block;
                tr {
                    th {
                        width: 110px;
                        background-color: #f0f0f0 !important;
                        color: #58585a;
                        background-image: none !important;
                        &:nth-child(2) {
                            width: 130px;
                        }
                        &:nth-child(3) {
                            width: 140px;
                        }
                        &:nth-child(4) {
                            width: 100px;
                        }
                        &:nth-child(5) {
                            width: 145px;
                        }
                    }
                }
            }

            tbody {
                overflow-y: scroll;
                max-height: 369px;
                display: block;
                tr {
                    td {
                        width: 110px;
                        &:nth-child(2) {
                            width: 130px;
                        }
                        &:nth-child(3) {
                            width: 140px;
                        }
                        &:nth-child(4) {
                            width: 100px;
                        }
                        &:nth-child(5) {
                            width: 145px;
                        }
                    }
                }
            }
        }
    }

    .right-panel {
        min-width: 668px;

        .information-panel-table {
            border: #bebebe 1px solid;
            .header-element {
                background-color: #f0f0f0;
                color: #58585a;
                background-image: none;
            }
        }
    }

    .show-number-items {
        color: #333333;
        font-size: 1em;
        margin: 14px 0;
    }
}
