
.header > .openlmis-header > .title,
.header > .openlmis-header.is-offline > .title {
	background-image: url('branding-selv/logo-header.png') !important;
}

.header > .openlmis-header.is-offline > .title {
	color: $white;
}

.auth-modal .modal-body {
	background-image: url('branding-selv/logo.png') !important;
	background-size: auto !important;
	background-position: $space-size*2 $space-size !important;
	min-height: 258px + $space-size !important;
}
