<!-- SELV3-348: Enable to make Adjustments, Receive and Isuue for supervised facilities -->
<!-- SELV3-448: Unify header labels -->
<h2>{{vm.key('module') | message}}</h2>
<!-- SELV3-448: Ends here -->
<p class="alert is-offline" ng-if="vm.offline() && vm.offlineStockEvents()">
    {{ vm.key('offline1') | message}}<br>
    {{ vm.key('offline2') | message}}
    <a ng-click="vm.goToPendingOfflineEventsPage()">{{ vm.key('pendingOfflineEvents') | message}}</a>
    {{ vm.key('offline3') | message}}<br>
</p>

<form class="sidebar">
    <openlmis-facility-program-select
        is-supervised="vm.isSupervised"
        facility="vm.facility"
        program="vm.program"
        module="'stock-adjustment'">
    </openlmis-facility-program-select>

    <input type="submit" value="{{vm.key('proceed') | message}}" ng-click="vm.proceed()"/>
</form>