<form id="newRequisitionGroupForm" name="newRequisitionGroupForm" ng-submit="vm.save()">
    <label for="name">{{'adminRequisitionGroupAdd.name' | message}}</label>
    <input id="name"
           class="form-control"
           name="requisitionGroupName"
           type="text"
           ng-model="vm.requisitionGroup.name"
           required/>

    <label for="code">{{'adminRequisitionGroupAdd.code' | message}}</label>
    <input id="code"
           class="form-control"
           name="requisitionGroupCode"
           type="text"
           ng-model="vm.requisitionGroup.code"
           required/>

    <label for="supervisoryNode">{{'adminRequisitionGroupAdd.supervisoryNode' | message}}</label>
    <select id="supervisoryNode"
            ng-model="vm.requisitionGroup.supervisoryNode"
            ng-options="supervisoryNode as supervisoryNode.name for supervisoryNode
            in vm.supervisoryNodes track by supervisoryNode.id"
            required></select>
</form>

<ul bs-active-pane="vm.selectedTab" bs-tabs>
    <li bs-pane data-title="{{'adminRequisitionGroupAdd.programsAndSchedules' | message}}">
        <ng-include src="'admin-requisition-group-add/programs-and-schedules.html'"></ng-include>
    </li>
    <li bs-pane data-title="{{'adminRequisitionGroupAdd.facilities' | message}}">
        <ng-include src="'admin-requisition-group-add/member-facilities.html'"></ng-include>
    </li>
</ul>
</nav>