<h2>{{'adminValidSourceList.validSources' | message}}</h2>
<section class="openlmis-table-container">
    <button id="add-valid-source" class="add" ng-click="vm.openAddValidSourceModal()">
        {{'adminValidSourceList.addValidSource' | message}}
    </button>
    <form ng-submit="vm.search()">
        <fieldset class="form-group">
            <label for="facilityId" ng-class="{'is-required': vm.programId}">
                {{'adminValidSourceList.facility' | message}}
            </label>
            <select id="facilityId"
                    ng-model="vm.facilityId"
                    ng-options="f.id as f.name for f in vm.facilities"
                    ng-required="vm.programId"
            >
            </select>
            <label for="programId" ng-class="{'is-required': vm.facilityId}">
                {{'adminValidSourceList.program' | message}}
            </label>
            <select id="programId"
                    ng-model="vm.programId"
                    ng-options="p.id as p.name for p in vm.programs"
                    ng-required="vm.facilityId"
            >
            </select>
        </fieldset>
        <input type="submit" value="{{'adminValidSourceList.search' | message}}"/>
    </form>
    <table>
        <caption ng-if="!vm.validSources || vm.validSources.length === 0">
            {{'adminValidSourceList.noValidSources' | message}}
        </caption>
        <thead>
        <tr>
            <th class="col-sticky">
                <input type="checkbox" ng-model="vm.selectAll"
                       ng-change="vm.toggleSelectAll(vm.selectAll)">
            </th>
            <th>{{'adminValidSourceList.program' | message}}</th>
            <th>{{'adminValidSourceList.facilityType' | message}}</th>
            <th>{{'adminValidSourceList.name' | message}}</th>
            <th>{{'adminValidSourceList.geoZone' | message}}</th>
            <!--Geographic level affinity temporarily is not displayed-->
            <!--<th>{{'adminValidSourceList.geoLevelAffinity' | message}}</th>-->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="validSource in vm.validSources">
            <td>
                <input type="checkbox" ng-model="validSource.$selected"
                       ng-change="vm.onValidSourceSelect(validSource)">
            </td>
            <td>{{vm.programsMap[validSource.programId]}}</td>
            <td>{{vm.facilityTypesMap[validSource.facilityTypeId]}}</td>
            <td>{{validSource.name}}</td>
            <td>{{vm.geographicZonesMap[validSource.geoZoneId]}}</td>
            <!--Geographic level affinity temporarily is not displayed-->
            <!--<td>{{vm.geographicLevelMap[validSource.geoLevelId]}}</td>-->
        </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>
<div class="openlmis-toolbar" ng-if="vm.validSources.length">
	<button class="danger" ng-click="vm.deleteSelectedValidSources()">{{'adminValidSourceList.delete' | message}}</button>
</div>