.admin-dhis2 {

  .element-create-form {

    .date-section {
      display: block;

      .select-search {

        .search .input-wrapper {
          width: 160px;
        }

        .select {
          max-height: 30vh;
          width: 160px;
        }
      }

      .time-section {
        display: inline;

        .select-search {

          .search .input-wrapper {
            width: 70px;

            .clear-icon {
              visibility: hidden;
            }
          }
        }

        .select {
          max-height: 30vh;
          width: 70px;
        }

        .date-section {
          display: inline-block;

          .select-search {

            .search .input-wrapper {
              width: 160px;

              .clear-icon {
                visibility: visible;
              }
            }

            .select {
              max-height: 30vh;
              width: 160px;
            }
          }
        }
      }
    }
  }
}
