.budget-requisition-modal {
    display: flex;
    font-weight: bold;
    width: 100%;

    &::before {
        content: '\f044';
        font-family: 'FontAwesome';
        font-weight: normal;
        @include margin-right(auto);
    }

    &:hover {
        text-decoration: none;
    }

    &[disabled] {
        &::before {
            content: '\f08e';
        }
    }
}

.sourceOfFundBudget {
   width: 210px !important;
}

.totalSupplementalFund dt {
    font-weight: bold;
    width: 35%;
    @include float(left);
}

#amount, #remaining {
    @include text-align(right);
}

.nav > li.is-invalid.has-popover > a {
    @include padding-right(2em);
    @include icon("exclamation-circle");
    &::before{
        position: absolute;
        top: 50%;
        @include right(0.5em);
        transform: translateY(-50%);
        color: $brand-danger;
        @include border-left(none);
    }
}

.requisition-indicator {
    display: block;
    float: right;
}

// SELV3-43: Added Order Volume to requisition view header
.too-large-order-volume {
	color: #ec0000;
	font-weight: bold;
}
// SELV3-43: ends here
