<!-- SELV3-507: Allow user to enter Shipment Date -->
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" ng-click="$hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">
            {{'stockChooseDateModal.confirmShipmentHeader' | message}}
          </h4>
        </div>
  
        <div class="modal-body shipment-confirm-modal">
          <p ng-if="vm.showPhysicalInventoryWarning" class="alert is-danger">
            {{'stockChooseDateModal.confirmShipment.warningIncompletePhysicalInventory' | message}}
          </p>
          <p>{{'stockChooseDateModal.confirmShipment.question' | message}}</p>
          <form id="dateForm" ng-submit="vm.submit()">
            <fieldset>
              <label for="date" class="required">{{'stockChooseDateModal.shipmentDate' | message}}</label>
              <input id="date" type="date" ng-model="vm.shipmentDate" min-date="vm.minDate" max-date="vm.maxDate" required/>
            </fieldset>  
            <!-- SELV3-846: Additional shipment fields (all optional) -->
            <fieldset>
              <label for="volumesCount">{{:: 'stockChooseDateModal.volumesCount' | message}}</label>
              <input id="volumesCount" type="text" positive-integer ng-attr-maxlength="{{vm.maxCountLength}}" ng-model="vm.volumesCount"/>
            </fieldset>
            <fieldset>
              <label for="icePacksCount">{{:: 'stockChooseDateModal.icePacksCount' | message}}</label>
              <input id="icePacksCount" type="text" positive-integer ng-attr-maxlength="{{vm.maxCountLength}}" ng-model="vm.icePacksCount"/>
            </fieldset>
            <fieldset>
              <label for="packingPerson">{{:: 'stockChooseDateModal.packingPerson' | message}}</label>
              <input id="packingPerson" type="text" ng-attr-maxlength="{{vm.maxTextLength}}" ng-model="vm.packingPerson"/>
            </fieldset>
            <fieldset>
              <label for="truckRegistration">{{:: 'stockChooseDateModal.truckRegistration' | message}}</label>
              <input id="truckRegistration" type="text" ng-attr-maxlength="{{vm.maxTextLength}}"
                     ng-model="vm.truckRegistration" ng-change="vm.formatTruckRegistration()"
                     openlmis-invalid="{{ vm.isTruckRegistrationInvalid() ? ('stockChooseDateModal.truckRegistrationInvalid' | message) : '' }}"/>
            </fieldset>
            <fieldset>
              <label for="trailerRegistration">{{:: 'stockChooseDateModal.trailerRegistration' | message}}</label>
              <input id="trailerRegistration" type="text" ng-attr-maxlength="{{vm.maxTextLength}}" ng-model="vm.trailerRegistration"/>
            </fieldset>
            <fieldset>
              <label for="securitySeal">{{:: 'stockChooseDateModal.securitySeal' | message}}</label>
              <input id="securitySeal" type="text" ng-attr-maxlength="{{vm.maxTextLength}}" ng-model="vm.securitySeal"/>
            </fieldset>
            <!-- SELV3-846: ends here -->
          </form>
        </div>
  
        <div class="modal-footer">
          <button ng-click="$hide()">{{'stockChooseDateModal.cancel' | message}}</button>
          <input form="dateForm" type="submit" value="{{'stockChooseDateModal.confirmShipment' | message}}"/>
        </div>
  
      </div>
    </div>
  </div>
<!-- SELV3-507: ends here -->
